<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SpbLeague</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/login.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SpbLeague.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <div class="nav-container">
            <section class="nav-bar">
                <a class="spb-logo" asp-area="" asp-controller="Home" asp-action="Index">
                    <img style="height: 5rem;" src="~/img/SpbLeagueLogo.png" alt="leagueLogo"/>
                </a>
                <nav class="nav-menu">
                    <ul class="nav-menu-hover">
                        <li class="dropdown">
                            Лига Санкт-Петербурга
                            <div class="dropdown-content">
                                <a asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                                <a asp-area="" asp-controller="Index" asp-action="Index">GGG</a>
                                <a asp-area="" asp-controller="ASS" asp-action="Index">DDD</a>   
                            </div>
                        </li>
                        <li>
                            <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                        <li>
                            @if (User.Identity.IsAuthenticated)
                            {
                               <a>Bruh</a>
                            }
                            else
                            {
                                <a asp-area="" asp-controller="Account" asp-action="Login">Войти</a>
                            }
                        </li>
                    </ul>
                </nav>
            </section>
            
        </div>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - SpbLeague - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
